/* Write your CSS here */
.team-card-list {
  list-style-type: none;
  width: 330px;
  height: 430px;
  background-color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 22px;
  padding: 12px;
  border-radius: 8px;
}

.image-logo {
  width: 155px;
  height: 155px;
}
.Won {
  color: #18ed66;
  font-family: 'Bee serif';
  font-size: 22px;
}
.Lost {
  color: #e31a1a;
  font-family: 'Bee serif';
  font-size: 22px;
}
